/****Large Devices Only ****/

@media (min-width: 1200px) {

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
	.col-lg-7, .col-lg-8, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
		.col-lg-12 {
			float: left;
		}
.col-lg-1 {width: 8.33%}
.col-lg-2 {width: 16.66%}
.col-lg-3 {width: 25%} 
.col-lg-4 {width: 33%} 
.col-lg-5 {width: 41.65} 
.col-lg-6 {width: 50%}
.col-lg-7 {width: 58.33%} 
.col-lg-8 {width: 66.66%}
.col-lg-9 {width: 74.99%}
.col-lg-10 {width: 83.33%}
.col-lg-11 {width: 91.66%}
.col-lg-12 {width: 100%}	
@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

* {
	font-family: "Avenir Next";
	color:white;
	font-style:lighter;
}

header {
	background-color:black;
}

#navbar-ish{
	color: gray;
	font-weight: normal;
	background-color: transparent;
	border-radius:0px;
	border:0;
	box-sizing: border-box;
}

#name {
	font-weight: lighter;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	float:left;
	color: #FFF;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: #FFF;
}


#homepic {
	-webkit-filter: brightness(50%);
	width: 100%;
	height: 690px;
	z-index: 100;
}


.homepage {
	display: block;
	position: relative;
}

.homepage > h2 {
	font-weight:lighter;
	color:white;
}

.homepage > h2:nth-child(2) {
	position: absolute;
	top:175px;
	right:23%;
}

.homepage > h2:nth-child(3) {
	position: absolute;
	top:275px;
	right:17.5%;
}

.homepage > h2:nth-child(4) {
	position: absolute;
	top:375px;
	right:7%;
}

p {
	display: block;
	text-align: justify
}

#nav-items a {
	color: #FFF;
	font-family: "Avenir Next"; 
	font-weight: lighter;
}

#nav-items { 
	float:right;
	display:block;
    text-align:center;
 }


#nav-items a:hover, #nav-items a:focus{
	background-color: #000;  
}


/*** The Hompage ends here ***/

/*** About Me Page starts here ***/
#propic {
	border-width: 2px; 
	border-color: black;
	border-right-width: 4px;
	width: 40%;
	height:5%;
	margin-top:10%;
}

#page1 {
	color:#FFF;
	width: 100%;
	background-image: url("img/blu.jpg");
	background-size:100%;
	min-height: 650px;

}


#quote {
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 1.8em;
}

#text-box {
	float:right;
	background: rgba(0,51,102,.4);
	margin-top: 10%;
	height:35%;

}


#page2 {
	background-image: url("img/projects.jpg");
	background-size: 100%;
	min-height: 690px;
	width: 100%;

}

#page2 > .container > #projs{ 
	margin-top: 10%;
	margin-left: 11%;
}

#projs { 
	height: 500px;
	background: rgba(255,255,255,.5);
}

#projs > h3 {
	font-size: 18px; 
	font-weight: lighter;

}

#baymax { 
	width: 100%;
	height: 200px;
	margin-top: 15px;
}



#page3 {
	background-color: #192B40;
	width: 100%;
 }

#page3 > div > p {
	margin-top: 7%;
	margin-bottom: 3%;
	font-size: 1.3em;
}
#icon { 
	display: inline;
}

th {
	padding: 10px;
}

th { 
	align-content: center;
}

td > h3 > .glyphicon {
	font-size: 1.7em;
	margin-bottom: 27%;
	margin-top: 30%;
}

.uniformImgSize { 
	height: 200px;
	width: 200px;
	margin-right: 150px;
	display: block;
	margin-bottom: 5%;
 }

.sectionHeaders {
	vertical-align: baseline;
	margin-bottom: 12%;
}

.topics {
	font-weight:lighter;
	font-size: 1.7em;
	margin-top:10%;
}

#heading {
	font-size: 2.0em;
	font-weight: lighter;
}





#page4 {
	width:100%;
	background-color: #99A682;
}


#page4 > .container > div { 
	height: 400px;
	margin-right: 4%;
	margin-top: 9%;
	margin-left:4%;
	font-family: 'Josefin Sans'; 
 }

 #contactme {
 	margin-top: 7%;
 	font-family: 'Dancing Script';
 	font-size: 59px;
 	line-height: 60px;
 }
 

 #logos {
 	width:150px;
 	height:150px;
 }

 #git {
 	width: 165px;
 	height: 165px;
 }

#mail { 
	margin-top:6%;
	width: 150px;
	height: 150px;
 }

#mailtext {
	padding-top:3%;
}

#fb-text {
	padding-top: 9%;
}

#page4 > div > div > a:hover, #page4 > div > div > a:focus{
	text-decoration: none;
}

.collapse-navbar-collapse{
	background-color: transparent;
}

ul > li{ 
	font-size: 16px;
 }


.contacts {
	height: 45px;
	width: 45px;
	margin-top: 1%; 
	margin-bottom: 1%;
	margin-right: .5%;

} 

#first1 {
	margin-left: 40%;
} 
}

/****Medium Devices Only ****/
@media (min-width: 768px) and (max-width: 1199px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
		.col-md-12 {
			float: left;
		}
.col-md-1 {width: 8.33%}
.col-md-2 {width: 16.66%}
.col-md-3 {width: 25%} 
.col-md-4 {width: 33%} 
.col-md-5 {width: 41.65} 
.col-md-6 {width: 50%}
.col-md-7 {width: 58.33%} 
.col-md-8 {width: 66.66%}
.col-md-9 {width: 74.99%}
.col-md-10 {width: 83.33%}
.col-md-11 {width: 91.66%}
.col-md-12 {width: 100%}


@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

* {
	font-family: "Avenir Next";
	color:white;
	font-style:lighter;
}

header {
	background-color:black;
}

#navbar-ish{
	color: gray;
	font-weight: normal;
	background-color: transparent;
	border-radius:0px;
	border:0;
	box-sizing: border-box;
}

#name {
	font-weight: lighter;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	float:left;
	color: #FFF;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: #FFF;
}


#homepic {
	-webkit-filter: brightness(50%);
	width: 100%;
	height: 690px;
	z-index: 100;
}


.homepage {
	display: block;
	position: relative;
}

.homepage > h2 {
	font-weight:lighter;
	color:white;
}

.homepage > h2:nth-child(2) {
	position: absolute;
	top:175px;
	right:23%;
}

.homepage > h2:nth-child(3) {
	position: absolute;
	top:275px;
	right:17.5%;
}

.homepage > h2:nth-child(4) {
	position: absolute;
	top:375px;
	right:7%;
}

p {
	display: block;
	text-align: justify
}

#nav-items a {
	color: #FFF;
	font-family: "Avenir Next"; 
	font-weight: lighter;
}

#nav-items { 
	float:right;
	display:block;
    text-align:center;
 }


#nav-items a:hover, #nav-items a:focus{
	background-color: #000;  
}


/*** The Hompage ends here ***/

/*** About Me Page starts here ***/
#propic {
	border-width: 2px; 
	border-color: black;
	border-right-width: 4px;
	width: 35%;
	height:5%;
	margin-top:10%;
}

#page1 {
	color:#FFF;
	width: 100%;
	background-image: url("img/blu.jpg");
}



#quote {
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 1.3em;
}

#text-box {
	float:right;
	background: rgba(0,51,102,.4);
	margin-top: 10%;
	height:30%;

}


#page2 {
	background-image: url("img/projects.jpg");
	background-size: 100%;
	min-height: 690px;
	width: 100%;

}

#page2 > .container > #projs{ 
	margin-top: 12.5%;
}

#projs { 
	height: 520px;
	background: rgba(255,255,255,.5);
}

#projs > h3 {
	font-size: 1.5em; 
	font-weight: lighter;

}

#baymax { 
	width: 100%;
	height: 200px;
	margin-top: 15px;
}



#page3 {
	background-color: #192B40;
	width: 100%;

 }

#page3 > div > p {
	margin-bottom: 3%;
	font-size: 1.3em;
}
#icon { 
	display: inline;
}

th {
	padding: 10px;
}

th { 
	align-content: center;
}

td > h3 > .glyphicon {
	font-size: 1.7em;
	margin-bottom: 27%;
	margin-top: 30%;
}

.uniformImgSize { 
	height: 200px;
	width: 200px;
	margin-right: 150px;
	display: block;
	margin-bottom: 5%;
 }

.sectionHeaders {
	vertical-align: baseline;
	margin-bottom: 12%;
}

.topics {
	font-weight:lighter;
	font-size: 1.7em;
	margin-top:10%;
}

#heading {
	font-size: 2.0em;
	font-weight: lighter;
	margin-top: 5%;
}



#page4 {
	width:100%;
	background-color: #99A682;
}


#page4 > .container > div { 
	height: 400px;
	margin-right: 4%;
	margin-top: 9%;
	margin-left:4%;
	font-family: 'Josefin Sans'; 
 }

 #contactme {
 	margin-top: 7%;
 	font-family: 'Dancing Script';
 	font-size: 59px;
 	line-height: 60px;
 }
 

 #logos {
 	width:150px;
 	height:150px;
 	margin-left: 29%;
 }

 #git {
 	width: 165px;
 	height: 165px;
 	margin-left: 29%;
 	margin-top:6%;
 }

#mail { 
	margin-top:6%;
	width: 150px;
	height: 150px;
	margin-left: 30%;
 }

#mailtext {
	padding-top:3%;
}

#fb-text {
	padding-top: 9%;
}

#page4 > div > div > a:hover, #page4 > div > div > a:focus{
	text-decoration: none;
}

.collapse-navbar-collapse{
	background-color: transparent;
}

ul > li{ 
	font-size: 16px;
 }


.contacts {
	height: 45px;
	width: 45px;
	margin-top: 1%; 
	margin-bottom: 1%;
	margin-right: .5%;

} 

#first1 {
	margin-left: 35%;
}
}

/****Small Devices Only ****/
@media (min-width: 50px) and (max-width: 767px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
		.col-sm-12 {
			float: left;
		}
.col-sm-1 {width: 8.33%}
.col-sm-2 {width: 16.66%}
.col-sm-3 {width: 25%} 
.col-sm-4 {width: 33%} 
.col-sm-5 {width: 41.65} 
.col-sm-6 {width: 50%}
.col-sm-7 {width: 58.33%} 
.col-sm-8 {width: 66.66%}
.col-sm-9 {width: 74.99%}
.col-sm-10 {width: 83.33%}
.col-sm-11 {width: 91.66%}
.col-sm-12 {width: 100%}

@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

* {
	font-family: "Avenir Next";
	color:white;
	font-style:lighter;
}

header {
	background-color:black;
}

#navbar-ish{
	color: gray;
	font-weight: normal;
	background-color: transparent;
	border-radius:0px;
	border:0;
	box-sizing: border-box;
}

#name {
	font-weight: lighter;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	float:left;
	color: #FFF;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	color: #FFF;
}


#homepic {
	-webkit-filter: brightness(50%);
	width: 100%;
	height: 690px;
	z-index: 100;
}


.homepage {
	display: block;
	position: relative;
}

.homepage > h2 {
	font-weight:lighter;
	color:white;
}

.homepage > h2:nth-child(2) {
	position: absolute;
	top:175px;
	right:23%;
}

.homepage > h2:nth-child(3) {
	position: absolute;
	top:275px;
	right:17.5%;
}

.homepage > h2:nth-child(4) {
	position: absolute;
	top:375px;
	right:7%;
}

p {
	display: block;
	text-align: justify
}

#nav-items a {
	color: #FFF;
	font-family: "Avenir Next"; 
	font-weight: lighter;
}

#nav-items { 
	float:right;
	display:block;
    text-align:center;
 }


#nav-items a:hover, #nav-items a:focus{
	background-color: #000;  
}


/*** The Hompage ends here ***/

/*** About Me Page starts here ***/
#propic {
	border-width: 2px; 
	border-color: black;
	border-right-width: 4px;
	width: 38%;
	height:5%;
	margin-top:10%;
	margin-left: 33%;
}

#page1 {
	color:#FFF;
	width: 100%;
	background-image: url("img/blu.jpg");

}



#quote {
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 1.0em;
}

#text-box {
	float:right;
	background: rgba(0,51,102,.4);
	margin-top: 10%;
	height:20%;
	margin-bottom: 2%;
}


#page2 {
	background-image: url("img/projects.jpg");
	background-size: 100%;
	min-height: 690px;
	width: 100%;

}

#page2 > .container > #projs{ 
	margin-top: 12.5%;
	margin-left: 7%;
	margin-bottom: 2%;
}

#projs { 
	height: 520px;
	background: rgba(255,255,255,.5);
	font-size: .9em;
}

#projs > h3 {
	font-size: 1.5em; 
	font-weight: lighter;

}

#baymax { 
	width: 100%;
	height: 200px;
	margin-top: 15px;
}



#page3 {
	background-color: #192B40;
	width: 100%;

 }

#page3 > div > p {
	margin-bottom: 3%;
	font-size: 1.3em;
}
#icon { 
	display: inline;
}

th {
	padding: 10px;
}

th { 
	align-content: center;
}

td > h3 > .glyphicon {
	font-size: 1.7em;
	margin-bottom: 27%;
	margin-top: 30%;
}

.uniformImgSize { 
	height: 120px;
	width: 120px;
	margin-right: 3%;
	display: block;
	margin-bottom: 5%;
 }

.sectionHeaders {
	vertical-align: baseline;
	margin-bottom: 12%;
	font-size: 1.3em;
}

.topics {
	font-weight:lighter;
	font-size: .9em;
	margin-top:10%;
}

#heading {
	font-size: 1.0em;
	font-weight: lighter;
	margin-top: 5%;
}



#page4 {
	width:100%;
	background-color: #99A682;
}


#page4 > .container > div { 
	height: 400px;
	margin-right: 4%;
	margin-top: 9%;
	margin-left:4%;
	font-family: 'Josefin Sans'; 
 }

 #contactme {
 	margin-top: 7%;
 	font-family: 'Dancing Script';
 	font-size: 59px;
 	line-height: 60px;
 }
 

 #logos {
 	width:150px;
 	height:150px;
 	margin-left: 29%;
 }

 #git {
 	width: 165px;
 	height: 165px;
 	margin-left: 29%;
 	margin-top:6%;
 }

#mail { 
	margin-top:6%;
	width: 150px;
	height: 150px;
	margin-left: 30%;
 }

#mailtext {
	padding-top:3%;
}

#fb-text {
	padding-top: 9%;
}

#page4 > div > div > a:hover, #page4 > div > div > a:focus{
	text-decoration: none;
}

.collapse-navbar-collapse{
	background-color: transparent;
}

ul > li{ 
	font-size: .9em;
 }


.contacts {
	height: 45px;
	width: 45px;
	margin-top: 1%; 
	margin-bottom: 1%;
	margin-right: .5%;

} 

#first1 {
	margin-left: 20%;
}




}

